@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #fafafc;
}

body {
  background-color: #2c2c37;
}

body > section,
body > main,
body > footer {
  margin-top: 5rem;
}

h2 {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  transition: 0.3s;
}
a:focus,
a:hover {
  color: #00a9dd;
}

.buttons {
  display: flex;
  width: min-content;
  align-items: center;
}

.main-button {
  display: block;
  font-size: 1rem;
  border: none;
  width: 8rem;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  background-color: #00a9dd;
  box-shadow: 0 0 10px #00c2ff;
  transition: 0.2s;
}

.main-button:hover,
.main-button:focus {
  color: #eee;
  outline: none;
  background-color: #01bfee;
  box-shadow: 0 0 15px #2cceff;
}

.secondary-button {
  font-size: 1rem;
  border: none;
  width: 8rem;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  background-color: unset;
  border: 2px solid #fafafc;
  transition: 0.2s;
  margin-left: 0.6rem;
}

.secondary-button:hover,
.secondary-button:focus {
  outline: none;
  color: #eee;
  background-color: #fafafc21;
}

.certer-button {
  margin: 2rem auto 0;
}

.btn-close-zoom-image {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #00a9dd;
  box-shadow: 0 0 10px #00c2ff;
  transition: 0.2s;
}

.btn-close-zoom-image:hover,
.btn-close-zoom-image:active {
  background-color: #01bfee;
  box-shadow: 0 0 12px #2cceff;
}

.blue-color {
  color: #00c2ff;
}

.title::before {
  content: "+ ";
  color: #00c2ff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* MAIN-HEADER */

.main-header {
  padding: 1.2rem 0px;
  background-color: #20202a;
}

.main-header h1 {
  text-align: center;
}

/* HERO */

.hero .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0px auto;
  max-width: 700px;
  background-color: #20202a;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 195px;
  height: 260px;
  margin-right: 1rem;
  background-color: #2c2c37;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile h2 {
  margin: 0.5rem 0;
}

.texts {
  margin-bottom: 0.8rem;
}

.texts p {
  font-size: 1.8rem;
  font-weight: bolder;
}

/* PROJECTS */

.projects .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.project {
  width: 32%;
  padding: 1.2rem 1rem;
  margin-bottom: 1.5rem;
  background-color: #20202a;
}

.project-image-container {
  width: 100%;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.project-image {
  width: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.project-image:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.projects .main-button {
  margin: 0px auto;
}

.example {
  color: #00c2ff;
  text-decoration: none;
}

.example::before {
  content: "Acesse";
}

.example:hover,
.example:active {
  color: #4dcff7;
}

.zoom-image-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000091;
}

.zoom-image-container figure {
  position: relative;
  width: 92%;
  max-height: 92%;
}

.zoom-image {
  max-width: 100%;
  max-height: 100%;
}

.open-zoom-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TECHS */

.techs .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.tech {
  width: 32%;
  margin: 2rem 0px;
  text-align: center;
}

.tech img {
  width: 90px;
  height: 90px;
  border: none;
  transition: 0.2s;
}

/* FOOTER */

.main-footer {
  padding: 3rem 0;
  text-align: center;
  background-color: #20202a;
}

.main-footer a {
  display: inline-block;
  margin: 0 0.5rem;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .container {
    max-width: 800px;
  }
  .project {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 20px;
  }

  .hero .content {
    max-width: 390px;
    flex-direction: column;
    text-align: center;
  }

  .profile {
    margin: 0;
  }

  .buttons {
    margin: auto;
  }

  .buttons a {
    margin: auto;
  }

  .buttons a:first-child {
    margin-bottom: 0.8rem;
  }

  .projects .content {
    flex-direction: column;
  }

  .project {
    width: 100%;
    max-width: 360px;
    margin: 0px auto 2rem;
  }
}

@media (max-width: 512px) {
  .texts {
    margin: 0.8rem 0;
  }

  .texts p {
    font-size: 1.2rem;
    font-weight: bolder;
  }

  .buttons {
    flex-direction: column;
  }

  .button-container + .button-container {
    margin: 0.8rem 0 0;
  }

  .main-button,
  .secondary-button {
    width: 195px;
  }

  .tech {
    width: 49%;
    margin: 2rem auto;
  }
}
